label, input {
	display: block;
}
label {
	color: var(--secondary-color);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12pt;
}
div.checkbox {
	display: flex;
}
input {
	font-size: 16pt;
	margin-bottom: 15px;
	padding: 10px;
	width: 400px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid .3px;
}
input.checkbox {
	width: 50px;
}
.alert {
	color: red;
}