<section class="listing-apply">	
	<h2 class="section-heading">Create location</h2>
	<p-toast />
	<form [formGroup]="createLocationForm" (ngSubmit)="createLocation()">
		<label for="name">Name</label>
		<input id="name" type="text" formControlName="name">
		<div *ngIf="createLocationForm.controls.name.invalid && (createLocationForm.controls.name.dirty || createLocationForm.controls.name.touched)"
		class="alert">
			<div *ngIf="createLocationForm.controls.name.errors?.['required']">Name is required.</div>
		</div>

		<label for="city">City</label>
		<input id="city" type="text" formControlName="city">

		<label for="state">State</label>
		<input id="state" type="text" formControlName="state">

		<label for="photo">the Photo</label>
		<input id="photo" type="text" formControlName="photo">

		<label for="availableUnits">Units</label>
		<input id="availableUnits" type="text" formControlName="availableUnits">

		<div class="checkbox">
		<label for="wifi">Wifi</label>
		<input class="checkbox" type="checkbox" id="wifi" value="Wifi" formControlName="wifi" />
		</div>

		<div class="checkbox">
		<label for="checkbox">Checkbox</label>
		<input class="checkbox" type="checkbox" id="laundry" value="Laundry" formControlName="laundry" />
		</div>

		<p-button type="submit" class="primary" label="Create"/>
	</form>
</section>