p-button {
	button {
		padding: 10px;
		border: solid 1px var(--primary-color);
		background: var(--primary-color);
		color: white;
		border-radius: 8px;
	} 
}

.footer {
	width: 400px;
	display: flex;
	align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.listing-photo {
	height: 600px;
	width: 50%;
	object-fit: cover;
	border-radius: 30px;
	float: right;
  }
  
  .listing-heading {
	font-size: 48pt;
	font-weight: bold;
	margin-bottom: 15px;
  }
  
  .listing-location::before {
	content: url('/assets/location-pin.svg') / '';
  }
  
  .listing-location {
	font-size: 24pt;
	margin-bottom: 15px;
  }
  
  .listing-features > .section-heading {
	color: var(--secondary-color);
	font-size: 24pt;
	margin-bottom: 15px;
  }
  
  .listing-features {
	margin-bottom: 20px;
  }
  
  .listing-features li {
	font-size: 14pt;
  }
  
  li {
	list-style-type: none;
  }
  
  .listing-apply .section-heading {
	font-size: 18pt;
	margin-bottom: 15px;
  }
  
  label, input {
	display: block;
  }
  label {
	color: var(--secondary-color);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12pt;
  }
  input {
	font-size: 16pt;
	margin-bottom: 15px;
	padding: 10px;
	width: 400px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid .3px;
  }
@media (max-width: 1024px) {
	.listing-photo {
	  width: 100%;
	  height: 400px;
	}
}

